@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Tomorrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tomorrow&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #EEF1F6;
}

.coin-box {
  width: 160px;
  height: 60px;
  background-color: black;
  border-radius: 50px;
  position: relative;
  transform: scale(0.8);
}
.coin-box .coin-circle {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #4A2C9F;
  display: block;
  border-radius: 50%;
  top: 5px;
  left: 7px;
}
.coin-box .coin-circle img {
  width: 40px;
  margin-top: 6px;
  margin-left: 4px;
}
.coin-box .eth-price {
  color: white;
  margin-top: 20px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 14px;
  font-family: "Tomorrow", sans-serif;
}

.profile img {
  width: 50px;
  position: absolute;
  right: 20px;
  top: 15px;
}

.search-bar {
  position: relative;
  background-color: white;
  padding: 16px;
  border-radius: 50px;
  box-shadow: 5px 5px 10px rgba(189, 189, 189, 0.2);
}
.search-bar .search {
  font-size: 17px;
  color: black;
}
.search-bar input {
  border: none;
  margin-left: 8px;
  color: rgb(173, 173, 173);
  outline: none;
  background-color: transparent;
}
.search-bar .slide {
  font-size: 20px;
  position: absolute;
  right: 17px;
  color: black;
}

.title {
  font-weight: bold;
  font-family: "Tomorrow", sans-serif;
  font-size: 28px;
}

.nft-container {
  position: relative;
}
.nft-container .box-nft1 {
  width: 90%;
  height: 365px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  left: 5%;
  box-shadow: 5px 5px 10px rgba(189, 189, 189, 0.2);
  z-index: 30;
}
.nft-container .box-nft1 img {
  width: 100%;
  border-radius: 10px;
}
.nft-container .box-nft1 .nft-name {
  font-weight: bold;
}
.nft-container .box-nft1 .person img {
  width: 30px;
}
.nft-container .box-nft1 .person .name {
  color: rgb(158, 158, 158);
  font-weight: bold;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 14px;
}
.nft-container .box-nft1 .last-col {
  text-align: right;
}
.nft-container .box-nft1 .last-col .bid {
  color: rgb(158, 158, 158);
  font-size: 14px;
  font-weight: 600;
}
.nft-container .box-nft1 .last-col .price {
  font-weight: 600;
}
.nft-container .box-nft2 {
  width: 90%;
  height: 365px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  left: 5%;
  box-shadow: 5px 5px 10px rgba(189, 189, 189, 0.2);
  z-index: 20;
  transform: scale(0.9);
  top: 50px;
}
.nft-container .box-nft2 img {
  width: 100%;
  border-radius: 10px;
}
.nft-container .box-nft2 .nft-name {
  font-weight: bold;
}
.nft-container .box-nft2 .person img {
  width: 30px;
}
.nft-container .box-nft2 .person .name {
  color: rgb(158, 158, 158);
  font-weight: bold;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 14px;
}
.nft-container .box-nft2 .last-col {
  text-align: right;
}
.nft-container .box-nft2 .last-col .bid {
  color: rgb(158, 158, 158);
  font-size: 14px;
  font-weight: 600;
}
.nft-container .box-nft2 .last-col .price {
  font-weight: 600;
}
.nft-container .box-nft3 {
  width: 90%;
  height: 365px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  left: 5%;
  box-shadow: 5px 5px 10px rgba(189, 189, 189, 0.2);
  z-index: 10;
  transform: scale(0.8);
  top: 85px;
}
.nft-container .box-nft3 img {
  width: 100%;
  border-radius: 10px;
}
.nft-container .box-nft3 .nft-name {
  font-weight: bold;
}
.nft-container .box-nft3 .person img {
  width: 30px;
}
.nft-container .box-nft3 .person .name {
  color: rgb(158, 158, 158);
  font-weight: bold;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 14px;
}
.nft-container .box-nft3 .last-col {
  text-align: right;
}
.nft-container .box-nft3 .last-col .bid {
  color: rgb(158, 158, 158);
  font-size: 14px;
  font-weight: 600;
}
.nft-container .box-nft3 .last-col .price {
  font-weight: 600;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(238, 241, 246, 0.4);
  z-index: 1000;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.footer .foot {
  width: 100%;
  position: relative;
  border-radius: 100px;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */