@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Tomorrow&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

  

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #EEF1F6;
}

.body{
    overflow-y: auto;
    height: 85vh;
}

.header{
    position: sticky;
    top:0;
    left: 0;
    background-color: rgba(238, 241, 246,0.5);
    backdrop-filter: blur(5px);
    z-index: 50;
}
.coin-box{
    width: 160px;
    height:60px ;
    background-color: black;
    border-radius: 50px;
    position: relative;
    transform: scale(0.8);

    .coin-circle{
        position: relative;
        width: 50px;
        height: 50px;
        background-color:#4A2C9F ;
        display: block;
        border-radius: 50%;
        top: 5px;
        left:7px;

        img{
            width: 40px;
            margin-top:6px;
            margin-left: 4px;
        }
    }
    .eth-price{
        color:white;
        margin-top: 20px;
        margin-left: 15px;
        font-weight: bold;
        font-size: 14px;
        font-family: 'Tomorrow', sans-serif;

    }

  
}

.profile{
    img{
        width: 50px;
        position: absolute;
        right: 20px;
        top:15px;
    }
}

.search-bar{
    position: relative;
    background-color: white;
    padding: 16px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(189, 189, 189, 0.2);

    .search{
        font-size: 17px;
        color:black;
    }

    input{
        border:none;
        margin-left:8px;
        color:rgb(173, 173, 173);
        outline: none;
        background-color: transparent;
    }

    .slide{
        font-size: 20px;
        position: absolute;
        right: 17px;
        color:black;
    }

 
}

.title{
    font-weight: bold;
    font-family: 'Tomorrow', sans-serif;
    font-size: 28px;
}

@mixin nft-box{
    width:90%;
    height: 365px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    left:calc(50% - 45%);
    box-shadow: 5px 5px 10px rgba(189, 189, 189, 0.2);

    img{
        width:100%;
        border-radius: 10px;
    }
    .nft-name{
        font-weight: bold;
    }
    .person{
        img{
            width: 30px;
        }
        .name{
            color:rgb(158, 158, 158);
            font-weight: bold; 
            margin-left: 5px; 
            margin-top: 5px; 
            font-size: 14px;    
         }
    }

    .last-col{
        text-align: right;
     .bid{
        color:rgb(158, 158, 158);
        font-size: 14px;
        font-weight: 600;
     }

     .price{
        font-weight: 600;
     }
    }
}

.nft-container{
    position: relative;
    .box-nft1{
      @include nft-box();
      z-index: 30;
    }
    .box-nft2{
        @include nft-box();
        z-index: 20;
        transform: scale(0.9);
        top:50px;
      }

      .box-nft3{
        @include nft-box();
        z-index: 10;
        transform: scale(0.8);
        top:85px;
      }
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(238, 241, 246,0.4);
    z-index: 1000;
   backdrop-filter: blur(5px);


    .foot{
        width:100%;
        position: relative;
        border-radius: 100px;
        border-radius:10px;
        color:white;

        .home{
            width: 80px;
            height: 40px;
            background-color: rgba(255,255,255,0.6);
            border-radius: 5px;
            color:white;
            padding: 10px;

            .text{
                font-size: 13px;
                margin-left: 5px;
                margin-top: 2px;
            }
        }
    }
}